@model  IEnumerable<DepartmentVM>
@{
    ViewData["Title"] = @SharedLocalizer["Departments"];
}


<h2 class="badge rounded-pill bg-secondary p-2 mt-2"> @SharedLocalizer["WTD"]</h2>
<div class="row">
    
<a asp-action="Create" asp-controller="Department" class="btn btn-primary text-uppercase m" >@SharedLocalizer["CND"]</a>
</div>
@*<select>
@foreach (var item in ViewBag.data)
{
    <option>@item</option>
}
</select>*@

@*<input type="text" list="mylist" />
<datalist id="mylist">
@foreach (var item in ViewBag.data)
{
    <option>@item.Name</option>
}
</datalist>*@

@*<ul>
    @foreach (var item in ViewBag.data)
{
    <li>@item</li>
}
</ul>*@


  <table class="table tabel-hover table-dark table-striped">
    <thead class="thead-dark">
      <tr >
        <th >@SharedLocalizer["Id"]</th>
        <th>@SharedLocalizer["Name"]</th>
        <th>@SharedLocalizer["DC"]</th>
        <th>@SharedLocalizer["Details"]</th>
        <th>@SharedLocalizer["Update"]</th>
        <th>@SharedLocalizer["Delete"]</th>

      </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
      <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Code</td>
          <td>

            <a asp-action="Details" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-success">@SharedLocalizer["Details"]</a>
           
        </td>
        <td>
             <a asp-action="Update" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-warning">@SharedLocalizer["Update"]</a>
        </td>
        <td>
                        <a asp-action="Delete" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-danger">@SharedLocalizer["Delete"]</a>

        </td>
        
      </tr>
      
        
  
        }
    </tbody>
  </table>

@section Styles{
  
      <link href="~/css/Custom.css" rel="stylesheet"/>
}