@model EmployeeVM
@inject IDepartment Depart
@inject IDistric distric


<label asp-for="Name">@SharedLocalizer["Name"]</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger font-bold"></span>
    <br />

    <label asp-for="Salary">@SharedLocalizer["Salary"]</label>
    <input type="text" class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger font-bold"></span>
    <br />

    <label asp-for="Email">@SharedLocalizer["Email"]</label>
    <input type="text" class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger font-bold"></span>
    <br />

    <label asp-for="Address">@SharedLocalizer["Address"]</label>
    <input type="text" class="form-control" asp-for="Address" />
    <span asp-validation-for="Address" class="text-danger font-bold"></span>
    <br />

    <label asp-for="HireDate">@SharedLocalizer["HD"]</label>
    <input type="date" class="form-control" asp-for="HireDate" />
    <span asp-validation-for="HireDate" class="text-danger font-bold"></span>
    <br />

    <label asp-for="Notes">@SharedLocalizer["Note"]</label>
    <textarea rows="4"class="form-control" asp-for="Notes"></textarea>
    <span asp-validation-for="Notes" class="text-danger font-bold"></span>
    <br />


   
    <label asp-for="DepartmentId">@SharedLocalizer["Department"]</label>
     <select class="form-control" asp-for="DepartmentId" asp-items="(SelectList)ViewBag.DepartmentList">
  
    </select>
<br /><br /><br />
    <div class="demo-checkbox mt-3">
        <input type="checkbox" asp-for="IsActive" checked="checked">
        <label asp-for="IsActive">IsActive</label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>