@model ApplicationUser
@{
    ViewData["Title"] = "Update";
}

<h2>Update @Model.UserName</h2>


<form asp-controller="Users" asp-action="Update" class="form-group" method="post">


    <div asp-validation-summary="All" class="text-danger font-bold"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="SecurityStamp" />
    <input type="hidden" asp-for="ConcurrencyStamp" />



    <br />



    <label asp-for="UserName">@SharedLocalizer["Name"]</label>
    <input type="text" class="form-control" asp-for="UserName" />
    <span asp-validation-for="UserName" class="text-danger font-bold"></span>
    <br />
    <label asp-for="Email">@SharedLocalizer["Email"]</label>
    <input type="text" class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger font-bold"></span>
    <br />


    <center style="margin:60px auto">
        <input type="submit" value="@SharedLocalizer["Update"]" class="btn btn-success" />
        <input type="reset" value="@SharedLocalizer["Cancel"]" class="btn btn-danger" />
        <a asp-controller="Users" asp-action="index" class="btn btn-primary">@SharedLocalizer["Return"]</a>
    </center>

</form>
@section Valdiation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



