 @model EmployeeVM
@{
    ViewData["Title"] =  @SharedLocalizer["Details"];
}
@section Styles{
      <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
}


<div >
   <h2 class="badge rounded-pill bg-secondary p-2 mt-2">@SharedLocalizer["DetailsFor"] @Model.Name</h2>
</div>


    @{await Html.RenderPartialAsync("~/Views/Partials/Employee/DeleteDetails.cshtml");}


    <center style="margin:60px auto">
    <a asp-controller="Employee" asp-action="Index" class="btn btn-primary">@SharedLocalizer["Return"]</a>
    <a asp-controller="Employee" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">@SharedLocalizer["Update"]</a>
    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">@SharedLocalizer["Delete"]</a>
    </center>