@model EmployeeVM
@inject IDistric distric
@{
    ViewData["Title"] = SharedLocalizer["Update"];
}
@section Styles{
      <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
}


<div>
   <h2 class="badge rounded-pill bg-secondary p-2 mt-2"> @SharedLocalizer["Update"]: @Model.Name </h2>
</div>



<form asp-controller="Employee" asp-action="Update" class="form-group">


    <div asp-validation-summary="All" class="text-danger font-bold"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreationDate" />


    @{await Html.RenderPartialAsync("~/Views/Partials/Employee/CreateEdit.cshtml");}

    <label  >@SharedLocalizer["ccd"]</label>
    <select class="form-control" asp-for="DistricId">
        <option>Choose Distric</option>
         @foreach (var item in await distric.GetAsync())
         {
        <option value="@item.Id">@item.Name</option>     
         }
    </select>

    <center style="margin:60px auto">
        <input type="submit" value="@SharedLocalizer["Update"]" class="btn btn-success" />
        <input type="reset" value="@SharedLocalizer["Cancel"]" class="btn btn-danger" />
        <a  asp-controller="Employee" asp-action="index" class="btn btn-primary" >@SharedLocalizer["Return"]</a>
    </center>

</form>
@section Valdiation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

